@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper */
.swiper.main-banner {
    width: 100%;
    height: 20rem;
}

.swiper.main-banner .swiper-pagination {
    display: flex;
    justify-content: left;
    padding-bottom: 1rem;
    padding-left: 2rem;
}

.swiper.main-banner .swiper-pagination-bullet {
    opacity: 0.5;
}

.swiper.main-banner .swiper-pagination-bullet-active {
    background: #fff;
    opacity: 1;
}

/* Category Menu 임시 스타일링 코드 추가 */
/*.mainCategory ul {*/
/*    display: flex;*/
/*    flex-wrap: nowrap;*/
/*    padding: 2rem;*/
/*    gap: 2.315rem;*/
/*    overflow: auto;*/
/*    -ms-overflow-style: none;*/
/*    scrollbar-width: none;*/
/*}*/

/*.mainCategory ul::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/

/*.mainCategory ul li {*/
/*    flex: 0 0 auto;*/
/*    width: auto;*/
/*    white-space: nowrap;*/
/*}*/

/*.mainCategory .categoryBtn {*/
/*    text-decoration: none;*/
/*    text-align: center;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*    max-width: 5rem;*/
/*    overflow: hidden;*/
/*}*/

/*.mainCategory .categoryBtn span:first-child {*/
/*}*/

/*.mainCategory .categoryBtn span:last-child {*/
/*    word-break: keep-all;*/
/*    font-weight: bold;*/
/*}*/

/*.icCate {*/
/*    display: block;*/
/*    margin: 0 auto;*/
/*    width: 4rem;*/
/*    height: 4.125rem;*/
/*    background: url(https://image.autowini.com/resources/IMG/markup/main_sprite.webp) -6px -90px no-repeat;*/
/*}*/

/*.icCate.cate2 {*/
/*    background-position: -88px -90px;*/
/*}*/

/*.icCate.cate3 {*/
/*    background-position: -168px -90px;*/
/*}*/

/*.icCate.cate4 {*/
/*    background-position: -406px -90px;*/
/*}*/

/*.icCate.cate5 {*/
/*    background-position: -568px -90px;*/
/*}*/

/*.icCate.cate6 {*/
/*    background-position: -490px -90px;*/
/*}*/

/*.icCate.cate7 {*/
/*    background-position: -648px -90px;*/
/*}*/

/*.icCate.cate8 {*/
/*    background-position: -246px -90px;*/
/*}*/

/*.icCate.cate9 {*/
/*    background-position: -328px -90px;*/
/*}*/

/*.icCate.cate10 {*/
/*    background-position: -728px -90px;*/
/*}*/

/*.icCate.cate11 {*/
/*    background-position: -808px -90px;*/
/*}*/

/*.icCate2 {*/
/*    display: block;*/
/*    margin: 0 -10px;*/
/*    width: 8rem;*/
/*    height: 4.125rem;*/
/*    background: url(https://image.autowini.com/resources/IMG/markup/main_sprite.webp) -1367px -25px no-repeat;*/
/*    transform: scale(0.7);*/
/*}*/

/*.icCate2.cate2 {*/
/*    background-position: -1367px -146px;*/
/*}*/

/*.icCate2.cate3 {*/
/*    background-position: -1367px -266px;*/
/*}*/

/*.icCate2.cate4 {*/
/*    background-position: -1367px -390px;*/
/*}*/

/*.icCate2.cate5 {*/
/*    background-position: -1362px -515px;*/
/*    width: 8.25rem;*/
/*}*/

/*.icCate2.cate6 {*/
/*    background-position: -1367px -634px;*/
/*}*/

/*.icCate2.cate7 {*/
/*    background-position: -1367px -756px;*/
/*}*/

/*.icCate2.cate8 {*/
/*    background-position: -1367px -878px;*/
/*}*/

/*.icCate2.cate9 {*/
/*    background-position: -1367px -998px;*/
/*}*/

/*.icCate2.cate10 {*/
/*    background-position: -1367px -1124px;*/
/*}*/